$silver-color: #e2e3e4;
$silver-dark-color: darken($silver-color, 10%);
$bazzel-color: #000;
$screen-color: #1c1c1c;
$sensor-color: #444;
$system-green-color: #30d158;
$system-green-dark-color: darken($system-green-color, 10%);

$iphonex-height: 694px;
$iphonex-width: 342px;
$top-header-padding: 15px;
$header-padding: 22px;
