@import "../../sass/constants.scss";

$padding: 0 20px 20px;

.iphone {
  z-index: 1;

  width: $iphonex-width;
  height: $iphonex-height;
  border-radius: 54px;
  padding: $top-header-padding $header-padding;

  background: $bazzel-color;
  box-shadow: inset 0 0 2px 2px $silver-dark-color,
    inset 0 0 0 6px $silver-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  height: $iphonex-height / 3 - $top-header-padding;
  padding: $padding;
  overflow-y: auto;

  font-size: 20px;
}

.buttons {
  height: $iphonex-height * 2 / 3 - $top-header-padding;
  padding: $padding;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
