.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0;

  display: flex;
  justify-content: center;
}

.text {
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  width: 100%;
  margin-top: 15px;

  display: flex;
  justify-content: space-between;

  &.centered {
    justify-content: center;
  }
}
