@import "../../sass/constants.scss";

.button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 26px;
  font-weight: 500;

  color: $silver-color;
  background-color: $sensor-color;
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $silver-dark-color;
  }

  &.green {
    background-color: $system-green-color;

    &:hover {
      background-color: $system-green-dark-color;
    }
  }
}

.digits {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}
